* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: #c1dee9;
  border: #136b8b 2px dashed;
  fill: #1c596f;
  border-radius: 5.79px;
  width: 60px;
  height: 60px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

svg {
  width: 30px;
  height: 30px;
}

button:hover {
  fill: #0a2732;
  transform: scale(1.1);
  border: #136b8b 3.78px dashed;
}
