* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 9px 5px 9px;
  border-radius: 6.129px;
  border: rgb(135, 135, 135) 0.5px solid;
  fill: #626262;
  transition: 0.2s ease;
}

button:hover {
  background-color: #626262;
  fill: #d3d3d3;
  border: #c6c6c6 0.5px solid;
  padding: 5px 17px 5px 17px;
}

button svg {
  width: 14px;
}
